@import '../../../styles/mixins';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    height: 50px;

    padding: 0;
    margin: 20px 0px;

    @include tablet {
        margin: 20px 0px;
    }
}

.page,
.pageNext,
.pagePrevious {
    cursor: pointer;
    user-select: none;

    margin: 0 3px;
    padding: 3px 6px;

    border-radius: 5px;
    border: 1px solid #ddd;

    background-color: #f7f7f7;
    transition:
        background-color 0.3s,
        color 0.3s;

    &:hover {
        background-color: #007bff;
        color: #fff;
    }

    @include tablet {
        margin: 0 5px;
        padding: 8px 12px;
    }
}

.pageActive {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pageDisabled {
    cursor: not-allowed;

    background-color: rgba(128, 128, 128, 0.4);

    &:hover {
        background-color: rgba(128, 128, 128, 0.4);
        color: inherit;
    }
}
