@import '../styles/mixins';

.wrapperForSelectAndSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    max-width: 400px;

    margin: 0 auto;

    padding: 10px;

    @include tablet {
        padding: 20px;
    }
}

.containerCreateBtn {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;

    @include tablet {
        padding: 20px;
    }
}

.createBtn {
    padding: 7px 46px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
