.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
}

.mainContent {
    flex-grow: 1;
}
