.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.contentWrapper {
    display: flex;
    flex-grow: 1;
}

.mainContent {
    flex-grow: 1;
}
