@import '../../../styles/mixins';

.nav {
    width: 130px;

    padding: 30px 10px;

    border-right: 1px solid rgba(233, 230, 228, 0.4);

    background-color: rgba(249, 249, 249, 0.6);

    @include tablet {
        width: 210px;
        padding: 15px 10px;
    }
    @include desktop {
        width: 250px;
    }
}

.listItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    &:visited {
        color: #000;
    }

    @include desktop {
        font-size: 16px;
        line-height: 24px;
    }
    @include large-desktop {
        font-size: 20px;
        line-height: 28px;
    }
}

.baseLink {
    color: inherit;

    &:hover {
        color: #ff4053;
        font-weight: 600;
    }
}

.baseLink.activeLink {
    cursor: default;
    color: #0869ff;
    font-weight: 700;
}
